<header>
    {% assign nav = site.data.navigation.mainmenu %}
    <nav class="desktop">
        <ul>
            {% if page.layout == 'home' %}<li><a href="/"><img src="/img/stars.svg" alt="Common Grounds"></a></li>{% else %}
            <li><a href="/"><img src="/img/beeld_naked.svg" alt="Common Grounds"></a></li>{% endif %}

            {% for item in nav %}
                <li {% if item.url == page.url %} class="active"{% endif%}><a href="{{ item.url }}">{{ item.title }}</a> </li>
            {% endfor %}
        </ul>
    </nav>
    <input type="checkbox" class="burger">
    <div class="burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="mobile">
        <ul>
            <li {% if page.url == '/' %}class="active" {% endif %} ><a href="/">Home</a></li>
            {% for item in nav %}
                <li {% if item.url == page.url %} class="active"{% endif%}><a href="{{ item.url }}">{{ item.title }}</a> </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="underlay" onclick="this.parentNode.querySelector('input').checked = false;"></div>
</header>
<main> 